@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
#companion-form input{
    padding: 10px;
    box-shadow: 0 0 12px #dedede;
    /* background-color: red; */
}

#companion-form textarea{
    padding: 10px;
    box-shadow: 0 0 12px #dedede;
}

#companion-form select{
    padding: 20px;
    font-size: 1rem;
    font-weight: normal;
    background-color: white;
    box-shadow: 0 0 12px #dedede;
}

#companion-form option{
    background-color: white;
    box-shadow: 0 0 12px #dedede;
}

.form-companion{
    font-family: 'Nunito Sans', sans-serif;
}
::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}
.companionsubmit{
    font-family: 'Nunito Sans', sans-serif;
}
