/* Menu.css */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,400&family=Spectral&display=swap');
.menu-container {
  width: 100%;
  height: 100%;
}

.menu-text {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
}

.menu-item-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 12px 0;
}

.menu-item {
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  background: white;
  box-shadow: 0px 8px 16px rgba(1.32, 0, 65.87, 0.06);
  border-radius: 8px;
  border: 0.5px white solid;
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  gap: 10;
  display: inline-flex;
}

.menu-text-content {
  width: 225px;
  height: 24px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: 700;
  word-wrap: break-word;
}
@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  2% {
    transform: scale(0);
    opacity: 0.8;
  }

  85% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.ripple-effect-helen {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0;
  z-index: -111;
  border-radius: 100%;
  background-color: #222225;
  animation: ripple-animation 2s ease-in-out 1s infinite forwards;
}
.ripple-effect-user {
  position: absolute;
  width: 90px;
  height: 100px;
  opacity: 0;
  z-index: -111;
  border-radius: 5px;
  background-color: #222225;
  animation: ripple-animation 2s ease-in-out 1s infinite forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in-text {
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 3s infinite; /* Apply the fadeIn animation with a duration of 3 seconds and infinite iteration */
}
