@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,400&family=Spectral&display=swap");
body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: white;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
