@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Inter&family=Libre+Caslon+Text&family=Noto+Sans:wght@300;400;500&family=Nunito+Sans:opsz@6..12&family=Outfit:wght@400;800&display=swap");
body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0px !important;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
